<!DOCTYPE html>
<html lang="en">
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis Web Application</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Text :
        <input name="text" type="text" required>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Output
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
<body>
    <h1>Here the project will run</h1>
</body>
</html>