<!DOCTYPE html>
<html>
<head>
	
	<!--<link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="static\home_css.css">
	<meta charset="utf-8">
	<title>Sentiment Analysis Of Tweets</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
</head>
<body>

	<img src="images3.png" width="100%" height="100%">
		<form action="{{ url_for('predict')}}" method="POST">
			<h2>Sentiment Analysis Of Tweets</h2>
		    </br></br>
			<label for="tweet">
				Enter the tweet you want to classify
			     </br>
			     </br>

				<textarea name="tweet" id="tweet" cols="30" rows="10" width="200px"></textarea>
			</label>
			</br>
			</br>
			</br>
			<input type="submit" value="Predict" id="submit">
		</form>

	
	

</body>